<section class="hobbies" [style.backgroundColor]="backgroundColor" [style.color]="textColor">
    <div class="hobbies-section">

        <div class="hobbies">
            <h2>Hobbies</h2>
            <p> In my spare time I enjoy hanging out with my family and friends. I am a huge dog lover so I'll usually go outside
                and play with my dogs. I also enjoy reading and watching movies. My favorite tv show is Law &amp; Order:
                SVU.
            </p>
        </div>
    </div>
</section>