<section class="home-header" [style.backgroundColor]="backgroundColor" [style.color]="textColor">

    <div class="content-wrap">
        <!--Image -->
        <img class="profile-img" src="../../assets/img/profile.jpg" alt="Chandni Raman">
        <!--Intro-->
        <div class="column-wide personal-intro">
            <h1>Chandni Raman</h1>
            <p class="intro">Hi there! Welcome to my website! My name is Chandni and I am a first-generation student at the University of
                Oklahoma. My major is Management Information Systems (MIS). I also have an Associate's degree in Marketing
                which I received in my junior year of high school through a vocational school. I am currently seeking a job
                in Software/Web Development.</p>
   
                <h4>Featured Skills:</h4>
            <p class="skillset">   
                <span class="skill-tag">Angular</span>
                <span class="skill-tag">JavaScript</span>
                <span class="skill-tag">Java</span>
                <span class="skill-tag">HTML5</span>
                <span class="skill-tag">CSS</span>
                <span class="skill-tag">Python</span>
                <span class="skill-tag">.NET</span>
            </p>
        </div>

    </div>

    <div class="btn-container">
        <a href="/assets/resume.pdf" download>
            <button class="btn-download">Download Resume PDF </button>
        </a>
    </div>

</section>