<!-- // Work Experience -->
<section class="work" [style.backgroundColor]='backgroundColor' [style.color]='textColor'>
    <div class="content-wrap">
        <div style="
            text-align:  center;
            display:  flex;">
            <div id="spinner" class="work-icon">
                "
                <i class="fas fa-briefcase fa-6x" style="text-align: center;margin-top:  -20px;"></i>
            </div>
        </div>

        <h2>Work Experience</h2>

        <div class="container-jobs">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#job1">Administrative Office Assistant <i class="fas fa-sort-down arrow"></i></a>
                        </h4>
                    </div>
                    <div id="job1" class="panel-collapse collapse">
                        <p class="uppercase"> OU Writing Center</p>
                        <p>August 2017 - Present</p>
                        <div class="panel-body">Greet guests in friendly manner, check in customers and schedule appointments using data entry skills,
                            show eagerness to learn by asking question, set up workstation in various locations. Use problem-solving
                            skills to resolve conflicts between consultants and writers, troubleshoot technical difficulties
                            with devices such as IPads, and computers.
                        </div>
                    </div>
                </div>
                <!-- end of Job Details block. -->
                <div class="panel-group"></div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>
                                <a data-toggle="collapse" href="#job2">Crew Member <i class="fas fa-sort-down arrow"></i></a>
                            </h4>
                        </div>
                        <div id="job2" class="panel-collapse collapse">
                            <p class="uppercase">Braum's</p>
                            <p>May 2012 - August 2016</p>
                            <div class="panel-body">
                                Greeted customers by welcoming them with a smile, demonstrated leadership by training new workers, explaining and demonstrating
                                tasks, packed groceries in a quick and timely manner, managed inventory by counting items
                                using quantitative skills, demonstrated reliability by working overtime when requested by
                                supervisors.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>
                                    <a data-toggle="collapse" href="#job3">Store Associate<i class="fas fa-sort-down arrow"></i></a>
                                </h4>
                            </div>
                            <div id="job3" class="panel-collapse collapse">
                                <p class="uppercase">TJ Maxx</p>
                                <p>February 2015 - June 2015</p>
                                <div class="panel-body">
                                    Increased sales by persuading customers to sign up for the store’s rewards program, handled monetary cash transactions while
                                    engaging in a conversation with customers, stocked and organized shelves in a neat and
                                    organized manner, observed customers to prevent theft in a subtle and friendly manner.
                                    <ul>
                                        <li>Received recognition for increasing sales by 5&#37;</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>