<home-header-component 
    [backgroundColor]="bgColorScheme.header"
    [textColor] ="textColor.header">
    </home-header-component>
<main>
    <home-work-component 
        [backgroundColor]="bgColorScheme.work" 
        [textColor] ="textColor.work" >
    </home-work-component>

    <home-skill-component 
        [backgroundColor]="bgColorScheme.skills" 
        [textColor] ="textColor.skills">
    </home-skill-component>

    <home-education-component 
        [backgroundColor]="bgColorScheme.education"
        [textColor] ="textColor.education">
    </home-education-component>

    <home-extra-component 
        [backgroundColor]="bgColorScheme.extracurricular"
        [textColor] ="textColor.extracurricular">
    </home-extra-component>
</main>

