<!-- // Education -->
<section class="education" [style.backgroundColor] = 'backgroundColor' [style.color] = "textColor" >
    <div class="content-wrap">
        <div class="education-icon">
            <i class="fas fa-graduation-cap fa-6x"></i>
             <h2>Education</h2>
        </div>
        <div class="schools">
            <!-- School details: copy this whole block to add more schools. -->
            <div>
                <h3>Bachelor of Management Information Systems, Expected Gradation Date: December 2018</h3>
                <p>University of Oklahoma</p>
                <p>Major GPA: 3.0</p>
            </div>
            <div>
                <p>Courses Included:</p>
                <ul>
                    <li>Python for Non-Majors</li>
                    <li>Web Development and E-commerce</li>
                    <li>Java Programming</li>

                </ul>
            </div>
            <!-- End of school details. -->

            <div class="content-wrap">
                <div>
                    <h3>Marketing &amp; Communications Associate, May 2014</h3>
                    <p class="uppercase">Francis Tuttle Technology Center</p>
                    <p>Major GPA: 3.5</p>
                </div>

                <div>
                    <p>This was a two-year program which I finished within a year during my junior year of high school.</p>
                    <ul>
                        <li>Won 4th place in Oklahoma State DECA Competition</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>