<section class="story" [style.backgroundColor]="backgroundColor" [style.color]="textColor">

    <div class="content-wrap">
        <h2>My Story</h2>
        <p>I am an aspiring program developer at the University of Oklahoma with 3 years of experience in programming languages
            such as Java, Python, and .NET. Recently, I have been teaching myselfAngular,Javascript and Typescript and created
            this website. Unlike most people, my upbringing was very unconventional which gave me over 10 years of experience
            in customer service. I've grown up in the hospitality industry (literally) for as long as I can remember. I started
            answering phone calls and greeting customers at the mere age of 8 years old. Of course, it wasn't anything like
            the Suite Life of Zack &amp; Cody but it was still pretty fun nonetheless! I met people from different backgrounds
            every single day and still do.</p>

        <p>I realized I wanted to go into the business field after taking a Marketing course at Francis Tuttle Technology Center
            in my junior year. The program was a two-year program which I finished within a year and recieved my Associates
            in Marketing &amp; Communication. On top of my classes, I also competed in the 2014 Oklahoma DECA State Competition
            and won 4th place in my division. In my senior year of high school, like most students, I didn't know what I
            wanted to be when I grew up. I took my first web design class and enjoyed it a lot. I liked it because of how
            much creativity and coding was involved. It reminded me of a puzzle. I have always enjoyed doing puzzles since
            they are challenging and coding was no different to me.

            <img class="puzzle" src="../../assets/img/puzzle.jpg" alt="puzzle">

            <p>However, it wasn't until my sophomore year of college that I found my true passion when I took my first MIS class.
                I wanted to combine technology, customer service, and business. Being the curious person I am, I walked up
                to my professor on the first day of class and asked him if there was room for creativity in this major and
                he said, "Absolutely!". It was right then and there that I knew what I wanted to be when I grew up. That
                same day, I went to my advisor and declared Management Information Systems as my major and have enjoyed it
                ever since!</p>
    </div>
</section>