<!--//Skills -->
<section class="skills" [style.backgroundColor]='backgroundColor' [style.color]="textColor">
    <div class="content-wrap">
        <div class="skills-icon">
            <i class="fas fa-check fa-8x"></i>

            <h2>Qualifications</h2>
        </div>
        <ul>
            <!-- <li>Proficient in Angular, JavaScript, SQL, Java, HTML5, CSS, Python, .NET</li> -->


        </ul>
    </div>
    <div class="technical-container">
        <h4>Technical Skills</h4>
        <div class="container">

            <div>
                <h5>Languages</h5>
                <ul class="language-list">
                    <li class="language-skill">JavaScript</li>
                    <li class="language-skill">Java</li>
                    <li class="language-skill">Python</li>
                    <li class="language-skill">CSS</li>
                    <li class="language-skill">HTML</li>
                    <li class="language-skill">SQL</li>
                </ul>
            </div>
            <div>
                <h5> Frameworks</h5>
                <ul class="framework-list">
                    <li class="framework-skill">Angular</li>
                    <li class="framework-skill">.NET</li>
                    <li class="framework-skill">Node</li>
                    <li class="framework-skill">Bootstrap</li>
                </ul>
            </div>
            <div>
                <h5> Tools</h5>
                <ul class="tools-list">
                    <li class="tool-skill" >GitHub</li>
                    <li class="tool-skill">Tableau</li>
                </ul>
            </div>
        </div>
        <div class="personal-container">
            <h4>Personal Skills</h4>
            <div class="personalskills">
                <ul class="personal-list">
                    <li>Adapt to different environments</li>
                    <li>Experience in Customer Service</li>
                    <li>Work under pressure</li>

                    <li>Fluent in speaking Gujarati</li>
                    <li>Knowledgable in Microsoft Suite</li>
                    <li>Proficient in Social Media Marketing</li>
                </ul>
            </div>
        </div>

    </div>
</section>