<!---Extracurriculars---->
<section 
    class="extracurricular" 
    [style.backgroundColor] = 'backgroundColor'
    [style.color]= "textColor" >

    <div class="content-wrap">
        <h2>Extracurriculars</h2>
        <div class="extras">
            <div class="upb-img-container">
                <div class="tape"></div>
                <img 
                    class="upb-img" 
                    src="../../assets/img/bigevent.jpg">
            </div>
            <div class="upb-img2-container">
                    <div class="tape2"></div>
                    <img 
                        class="htu-img" 
                        src="../../assets/img/ideas.JPG">
                </div>
        <div class="content-wrap">
            <h3>Union Programming Board (UPB)</h3>
            <p>Member since 2015</p>
            <p>Student-led organization that hosts events for students to engage them.</p>
            <ul>
                <li>Brainstormed ideas for event planning</li>
                <li>Set up and tear down for events in a timely manner</li>
                <li>Collaborate with other members to create promotion schedule for events</li>
                <li>Participated in the Big Event</li>
            </ul>
        </div>
    </div>

        <div class="content-wrap">
            <h3>Management Information Systems Student Association (MISSA)</h3>
            <p>Member since 2015</p>
            <p>Academic-related student organization.</p>
            <ul>
                <li>Participated by attending Lunch N' Learns and meetings</li>
            </ul>
        </div>
    </div>
</section>